/* =========================== BENEFÃCIOS ============================ */
#section-beneficio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#beneficios {
    margin-top: 22px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    padding: 0 5%;
    box-sizing: border-box;
    max-width: 1600px;
}

.content-beneficios>div {
    display: grid;
    grid-auto-columns: 140px 1fr;
    grid-auto-flow: column;
    align-items: center;
    justify-content: flex-start;
    gap: 18px;
}

.content-beneficios {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 40px;
}

.description-beneficio {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#gigas {
    grid-column: 1 / 3;
    grid-row: 1;
    width: 100%;
    height: 160px;
}

#suporte {
    grid-column: 2 / 4;
    grid-row: 2;
    width: 100%;
    height: 160px;
}

#bonus {
    grid-column: 1 / 3;
    grid-row: 3;
    width: 100%;
    height: 160px;
}

#apps {
    grid-column: 2 / 4;
    grid-row: 4;
    width: 100%;
    height: 160px;
}

.icon-beneficio {
    width: 140px;
    height: 140px;
    margin-bottom: 16px;
    border-radius: 0px 20px 0px 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
}

#icon-gigas {
    background-image: url(../svg/gigas_acumulados.svg);
}

#icon-suporte {
    background-image: url(../svg/sup_24h.svg);
}

#icon-bonus {
    background-image: url(../svg/bonus.svg);
}

#icon-apps {
    background-image: url(../svg/infinitos.svg);
}

.container-experiencia {
    width: 100%;
    min-width: 300px;
    min-height: 750px;
    height: auto;
    background-color: #E4E6E6;
    box-shadow: -4px -4px 10px rgb(255 255 255 / 75%), 4px 4px 10px rgb(0 0 0 / 10%);
    border-radius: 20px;
    padding: 15px 20px;
    overflow: hidden;
}

.top-beneficio {
    width: 100%;
    height: 100%;
    float: right;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 1200px) {
    #beneficios {
        grid-template-columns: 1fr !important;
        justify-items: center;
        gap: 64px;
    }
}

@media only screen and (max-width: 600px) {
    .content-beneficios div {
        grid-auto-columns: 1fr !important;
        grid-auto-flow: row !important;
        justify-items: center !important;
    }

    .content-beneficios>div {
        height: auto !important;
    }

    .content-beneficios>div p {
        margin: 0;
    }
}