.post-full-text a {
    color: #FE5000;
    font-weight: 500;
    text-decoration: underline;
}

.post-full-text a:hover {
    color: #777;
}

.post-full-text li {
    margin-left: 36px;
}

.post-text ul,
.post-text h1,
.post-text h2,
.post-text h3,
.post-text h4,
.post-text h5,
.post-text h6 {
    display: none;
}

.post-full-text ol,
.post-full-text ul,
.post-text ol,
.post-text ul {
    line-height: 18px;
}

.post-full-text p {
    line-height: 26px !important;
}