.post-full-text a {
    color: #FE5000;
    font-weight: 500;
    text-decoration: underline;
}

.post-full-text a:hover {
    color: #777;
}

.post-full-text li,
.post-text li {
    margin-left: 36px;
}

.post-full-text ol,
.post-full-text ul,
.post-text ol,
.post-text ul {
    line-height: 18px;
}

.post-full-text p {
    line-height: 31px;
}