html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

body,
#caixaPesquisa,
.modal-content {
    background-color: #EBEBEB;
}

textarea {
    resize: none !important;
}

a {
    color: #181818;
}

a:link,
.card-materia-lateral>a:hover,
.footer-menu>a:hover {
    color: #181818;
    text-decoration: none;
}

p {
    color: black;
}

footer {
    margin-top: 20%;
}

section {
    padding: 168px 0;
}

#footer-index {
    margin-top: 50% !important;
}

#header-gerenciadores {
    width: 100%;
}

.opcoes>a,
.botoes>a,
.list-group>a {
    text-decoration: none;
}

.post-list {
    background-color: #EBEBEB;
    margin: 10px;
    border-radius: 12px;
    box-shadow: -4px -4px 10px rgb(255 255 255 / 75%), 4px 4px 10px rgb(0 0 0 / 25%);
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    color: #505050;
}

.btn-secundario {
    box-shadow: -4px -4px 10px rgb(255 255 255 / 75%), 4px 4px 10px rgb(0 0 0 / 25%);
    border-radius: 40px;
    color: white;
    background-color: #FE5000;
    border: none;
    padding: 12px 24px;
    font-size: 14px;
    font-weight: 600;
    transition: .3s;
}

.btn-secundario:hover {
    transition: .3s;
    color: #FE5000;
    background-color: white;
    outline: 1px solid #FE5000;
}

.post-video {
    width: 100%;
    height: auto;
}

.view-post-table {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.view-post-likes>img {
    float: left;
    height: inherit;
}

.img-post,
.view-post-foto {
    width: 100%;
    height: auto;
}

.img-post>img,
.view-post-foto>img {
    width: inherit;
    height: inherit;
}

/* Aqui começa o CSS do front-end que me passaram */
ul,
li {
    margin: 0;
    padding: 0;
}

.fonte-menu {
    color: #181818 !important;
    font-family: 'Montserrat', sans-serif;
}

.modal-header .close {
    margin: 0 !important;
    padding: 0 !important;
}

.modal-content {
    border-radius: 0.6rem !important;
}

.modal-body {
    padding-bottom: 1.5rem !important;
}

.modal-contato:hover {
    cursor: pointer;
}

.btn-padrao {
    height: auto;
    padding: 12px 24px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    box-shadow: -4px -4px 10px rgb(255 255 255 / 75%), 4px 4px 10px rgb(0 0 0 / 25%);
    border-radius: 40px;
    transition: 0.3s;
    color: #FE5000;
    border: none;
    min-width: 140px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.btn-menor {
    margin-top: 5%;
    padding: 8px 16px;
}

.btn-padrao:hover {
    cursor: pointer;
    position: relative;
    background: transparent;
    box-shadow: inset -2px -2px 4px rgb(255 255 255 / 75%), inset 4px 4px 8px rgb(0 0 0 / 25%);
    border-radius: 40px;
    color: #FE5000;
    text-shadow: 0px 0px 4px rgb(254 80 0 / 30%);
    transition: 0.3s
}

.borda-botao {
    border: solid 1px #FE5000;
}

.logout,
.logout:link,
.logout:hover {
    text-decoration: none;
}

.margem-btn {
    margin-top: 54px;
    margin-left: 242px;
}

.container-chip {
    width: 659px;
    height: auto;
    margin-top: 95px;
    margin-left: 81px;
    padding: 40px;
    background: #E4E6E6;
    box-shadow: -4px -4px 20px rgba(255, 255, 255, 0.75), 6px 6px 20px rgba(0, 0, 0, 0.25);
    border-radius: 26px;
}

.post-header {
    display: flex;
    justify-content: flex-start;
}

.post-profile,
.post-profile>img {
    width: 72px;
    height: 69px;
    border-radius: 50px;
    float: left;
}

.post-name>p {
    margin-top: 15px;
    margin-left: 15px;
    font-size: 18px;
    font-weight: bold;
}

.post-data {
    float: left;
    margin-top: -40px;
    margin-left: 15px;
    width: 49px;
    height: 7px;
    font-size: 12px;
}

.titulo-padrao {
    text-align: center;
    color: #FE5000;
}

.titulo-secundario-laranja {
    text-align: center;
    color: #FE5000;
}

.subtitulo {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.caixa-1,
.caixa-2,
.caixa-3,
.caixa-4,
.caixa-background {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

.caixa-1 {
    background-image: url('./img/bg-laricel.png');
    height: 50vh !important;
}

#clientes {
    position: relative;
}

.caixa-2 {
    height: 45vh !important;
    display: flex;
    justify-content: center;
}

.caixa-2 .btn-sunk-chip {
    z-index: +1;
}

.caixa-background {
    height: 60vh;
}

.bg-futebol {
    background-image: url('./img/bg-futebol.png') !important;
}

.bg-entretenimento {
    background-image: url('./img/bg-samba.png') !important;
}

.bg-empresa {
    background-image: url('./img/empresa.png') !important;
}

.caixa-4 {
    padding: 50px;
}

/* .caixa-5{
    background-image: url();
} */

.caixa-6 {
    display: flex;
    height: 45vh !important;
    margin-left: auto;
    margin-right: auto;
}

.btn-sunk-chip {
    background: rgba(24, 24, 24, 0.02);
    box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.15), inset 4px 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    padding: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.btn-sunk-chip:hover {
    transform: scale(1.05);
    box-shadow: rgba(255, 255, 255, 0.95) -4px -4px 8px, rgba(0, 0, 0, 0.25) 4px 4px 8px;
    cursor: pointer;
}

.img-chip-m>img {
    width: 235px;
    margin-left: auto;
    margin-right: auto;
}

.img-chip>img {
    width: 180px;
    height: auto;
    border-radius: 10px;
}

#section-futebol,
#section-entretenimento,
#section-empresas,
#section-social {
    width: 100%;
    display: flex;
    justify-content: center;
}

.card-chip {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    width: 100%;
    max-width: 1200px;
    z-index: 3;
    justify-content: center;
}

.scroll-chips {
    display: flex;
    justify-content: space-evenly;
}

.space-novidades {
    margin-bottom: 23px;
}

.footer-space {
    margin-top: 80px;
}

.post-text>p {
    text-align: center;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;
    /* fallback */
    max-height: 70px;
    /* fallback */
    -webkit-line-clamp: 4;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}

.resultado-text {
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;
    /* fallback */
    max-height: 70px;
    /* fallback */
    -webkit-line-clamp: 3;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}

.post-img,
.post-img>img {
    width: auto;
    max-width: 100%;
    max-height: 80vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.post-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}

.btn-tag {
    padding: 4px 8px;
    border-radius: 4px;
    border: none;
    color: #434343;
    font-size: 0.8135rem;
    text-transform: capitalize;
    font-weight: 600;
    background: none;
    margin: 0;
}

.icon-tag {
    color: #FE5000;
    font-size: 18px;
}

.btn-actions {
    border: none;
    width: 141px;
    height: 40px;
    cursor: pointer;
    position: relative;
    background: transparent;
    box-shadow: inset -2px -2px 4px rgb(255 255 255 / 75%), inset 4px 4px 8px rgb(0 0 0 / 25%);
    border-radius: 40px;
    color: black;
    text-shadow: 0px 0px 4px rgb(254 80 0 / 30%);
    transition: 0.3s
}

.btn-actions:hover {
    cursor: pointer;
    position: relative;
    background-color: transparent;
    box-shadow: -4px -4px 10px rgb(255 255 255 / 75%), 4px 4px 10px rgb(0 0 0 / 25%);
    border-radius: 40px;
    transition: 0.3s;
    color: #313131;
    border: none;
}

.btn-footer-chip {
    width: 100%;
    height: auto;
    border: solid 1px black;
}

.icon-like {
    color: #FE5000;
    font-variation-settings:
        'FILL' 1,
        'wght' 500,
        'GRAD' 0,
        'opsz' 48
}

.icons-box a {
    display: inline-block;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    padding: 8px;
    color: #313131;
}

.icons-box a:hover {
    transform: scale(1.05);
    color: #FE5000;
}

#caixaPesquisa {
    width: 90%;
    margin-top: 95px;
    margin-left: auto;
    margin-right: auto;
    padding: 6px 40px 6px 6px;
    border-radius: 4px;
    border: solid 1px #F25E0C;
}

#caixaPesquisa::placeholder {
    color: #F25E0C;
    padding-top: 5px;
}

#caixaPesquisa:focus {
    outline-color: #F25E0C;
}

.icon-search {
    position: absolute;
    top: 78%;
    right: 8%;
    border: none;
}

.titulo-secundario {
    color: #F25E0C;
    margin-top: 36px;
    margin-bottom: 36px;
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
}

.card-materia-lateral {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    flex-direction: column;
    background-color: #E4E6E6;
    box-shadow: -4px -4px 10px rgb(255 255 255 / 75%), 4px 4px 10px rgb(0 0 0 / 10%);
    border-radius: 20px;
    max-width: 330px;
    width: 100%;
}

.container-lado-direito .card-materia-lateral {
    max-width: none;
}

.caixa-slide .card-materia-lateral {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 32px;
    flex-direction: column;
}

.materia-img {
    width: 100%;
    height: 170px;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.scroll-container {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 12px;
    box-sizing: border-box;
}

.container-lado-direito .scroll-container {
    padding: 0;
}

.scroll-container::-webkit-scrollbar {
    display: none;
}

.materia-index-img,
.materia-index-img>img {
    width: 100%;
    min-height: 700px;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: inherit;
}

.slick-list {
    width: 430px !important;
    padding-bottom: 22px;
}

.materia-title,
.nome-usuario {
    font-size: 19px;
    font-weight: 600;
    text-align: center;
    margin-top: 8px;
}

.input-sunk-white {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    height: 44px;
    border-radius: 20px;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 24px;
    border: none;
    background: transparent;
    box-shadow: inset -2px -2px 4px rgb(255 255 255 / 75%), inset 4px 4px 8px rgb(0 0 0 / 25%);
}

.input-sunk-white:focus,
.textarea-sunk-white:focus {
    outline: none;
    box-shadow: -4px -4px 14px #ffffff, 4px 4px 14px rgba(0, 0, 0, 0.15);
}

.textarea-sunk-white {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    height: 70px;
    border-radius: 20px;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 24px 10px 24px;
    border: none;
    background: transparent;
    box-shadow: inset -2px -2px 4px rgb(255 255 255 / 75%), inset 4px 4px 8px rgb(0 0 0 / 25%);
}

.file-sunk-white {
    margin-left: 10%;
    margin-bottom: 16px;
}

.container-login {
    display: flex;
    justify-content: center;
}

#relacionados {
    margin-bottom: 60px;
    padding: 0 5%;
    width: 100%;
}

.container-relacionados {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.container-acessados {
    display: flex;
    flex-direction: column;
}

#comentarios {
    width: 100%;
    margin-bottom: 70px;
}

.input-group-text {
    background-color: #ffffff;
    width: auto;
    gap: 10px;
    border: none !important;
}

.align-2 {
    display: flex;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 0.25rem;
}

.comentario-usuario {
    font-size: 16px;
}

.comentario-tempo,
.comentario-conteudo {
    font-size: 14px;
}

.comentario-conteudo {
    width: 100%;
}

.linha-divisoria-comentario {
    width: 100%;
    height: 20px;
    border-top: 1px solid #C8C8C8;
}

.btn-comentar {
    padding-bottom: 100px;
}

.footer-logo>img {
    width: 140px;
    height: 80px;
}

.footer-menu {
    font-size: 15px;
    text-align: center;
    font-weight: 500;
}

.footer-title {
    color: #181818;
    font-weight: 600;
    font-size: 22px;
    margin-top: 20%;
    margin-bottom: 8%;
}

.redes-sociais-pic {
    filter: none;
    transition: 0.3s;
}

.redes-sociais-pic:hover {
    filter: brightness(0);
    transition: 0.3s;
    transform: scale(1.05);
}

.footer-credits {
    font-size: 12px;
    margin-top: 80px;
    padding: 30px;
}

.align-center-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

#caixa-comentar {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding-bottom: 20px;
}

.foto-usuario>img {
    max-width: 100%;
    height: 100%;
}

.foto-usuario {
    width: 72px;
    height: 72px;
    min-width: 72px;
    min-height: 72px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#fileFoto,
#fileFoto2,
#fileFoto3,
#fileFoto4 {
    display: none !important;
}

.desc-file-foto {
    margin: 0 !important;
    padding-left: 12px;
}

.input-comentario {
    width: 100%;
}

#caixa-comentarios {
    height: auto;
    display: flex;
    justify-content: flex-start;
    margin-top: 50px;
}

.post-comentarios {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.opcoes-comentario {
    width: 100%;
    height: 30px;
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: solid 1px #C8C8C8;
}

.opcoes-comentario>small {
    margin-bottom: 30px;
}

.slick-next:before {
    content: url('./img/arrow-right.png') !important;
    transform: scale(0.6);
    display: block;
}

.slick-prev:before {
    content: url('./img/arrow-left.png') !important;
    transform: scale(0.6);
    display: block;
}

.slick-next,
.slick-prev {
    top: 150px !important;
}

#section-slide .slick-dots {
    position: revert !important;
}

#section-slide .slick-prev {
    top: 250px !important;
    left: -10px !important;
}

#section-slide .slick-next {
    top: 250px !important;
    right: 2% !important;
}

.slick-next {
    right: -40px !important;
}

.slick-prev {
    left: -30px !important;
}

.slick-prev::before {
    height: 40px !important;
    color: #181818 !important;
}

.slick-dots li {
    margin: 0 10px !important;
}

.slick-dots li button:before {
    top: 5px !important;
    left: 5px !important;
    font-size: 4px !important;
    color: transparent !important;
    background: #EBEBEB;
    box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.1), inset 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px !important;
    width: 20px !important;
    height: 20px !important;
    transition: 0.3s !important;
}

.slick-dots li.slick-active button:before {
    width: 30px !important;
    left: 0 !important;
    transition: 0.3s !important;
    background: #FE5000 !important;
    box-shadow: 0px 0px 14px rgba(254, 80, 0, 0.5);
}

#section-slide {
    width: 100%;
    min-height: 45vw;
    background-image: url('./img/banner-depoimento.png');
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    padding: 0 !important;
}

#section-slide .slick-track {
    margin-top: 40px;
}

#section-slide .slick-track div {
    height: auto;
}

.slide-img,
.slide-img>img {
    position: absolute !important;
    width: 62px;
    height: 62px;
    top: -25px;
    margin-left: calc(50% - 31px);
    border-radius: 50px;
}

.slick-slide {
    width: 100%;
}

.border-slide {
    border: 1px solid #FE5000;
    border-radius: 20px;
    position: relative;
}

.logo-operadora {
    height: 85px !important;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-operadora>img {
    height: inherit;
}

.container-beneficios {
    margin-top: 22px;
    display: grid;
    column-gap: 40px;
    padding: 0 5%;
    box-sizing: border-box;
    max-width: 1600px;
}

.slider {
    max-width: max-content !important;
}

.slider .slick-list {
    max-width: 100% !important;
}

.card-jumped-white-ext {
    width: 92% !important;
    display: block;
    background-color: transparent;
    padding: 5px;
    box-shadow: -4px -4px 8px rgba(255, 255, 255, 0.75),
        4px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.card-sunk-white {
    box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.75),
        inset 4px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background-color: transparent;
    width: 100%;
    height: auto;
}

.protection-card {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 32px;
    flex-direction: column;
}

.protection-card .btn-padrao {
    margin-bottom: 20px;
}

.img-title-slide {
    background: #DBDBDB;
    box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(0, 0, 0, 0.35);
    border-radius: 30px;
    margin-bottom: 10px;
    height: auto !important;
    width: 105px;
}

.img-title-slide>img {
    width: inherit;
    padding: 8px;
}

/* #section-midia {
    margin-top: 200px;
    margin-bottom: 300px;
} */

#section-midia .titulo-padrao {
    margin: 0;
}

.slider-midia .slick-list {
    width: 100% !important;
    margin-left: 8px;
    padding-top: 30px;
}

.slider-midia .slick-slider {
    padding-top: 20px;
}

.slider-midia .slick-next:before {
    margin-left: -5px !important;
}

.slick-track {
    display: grid;
    grid-auto-flow: column;
}

.slick-track div {
    height: 100%;
}

#cobertura {
    background-image: url('./svg/bg-mapa-brasil.svg');
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 220px;
    padding-bottom: 600px;
}

#cobertura .titulo-padrao {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

#section-aplicativo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.text-aplicativo {
    max-width: 80%;
}

.w-space {
    padding-left: 150px;
    padding-top: 340px;
}

#section-aplicativo .titulo-padrao {
    width: 100%;
}

#aplicativo {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.caixa-aplicativo {
    width: 90%;
    height: auto;
    padding: 20px;
    margin-top: 60px;
}

.btn-center {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.slick-dotted.slick-slider {
    height: auto;
}

#bg-celular {
    background-image: url('./svg/celular-dry.svg');
    background-repeat: no-repeat;
    padding-top: 400px;
    padding-bottom: 500px;
    width: 661px;
}

.content-aplicativo {
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: -220px;
}

.conexao {
    color: black;
    font-size: 40px;
}

#img-footer {
    width: 90%;
    height: 67px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    padding-left: 8%;
    background-image: url('./svg/img-footer.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.bg-mobile {
    background-image: none;
    height: 0;
}

.container-pesquisa {
    margin-top: 5%;
}

.card-resultado {
    width: 90%;
    height: auto;
    box-shadow: -4px -4px 10px rgb(255 255 255 / 75%), 4px 4px 10px rgb(0 0 0 / 10%);
    border-radius: 20px;
    background-color: #E4E6E6;
    padding: 12px 24px;
}

.tags {
    gap: 20px;
}

.banner {
    width: 60%;
    height: 500px;
}

.banner img {
    width: max-content;
    height: inherit;
}

.politica-privacidade h1 {
    color: #FE5000;
    font-size: 2rem;
}

.pt-6 {
    padding-top: 3.5rem;
}

.adesao {
    color: #FE5000 !important;
}

.adesao:hover {
    text-decoration: underline;
}

.caixa-tags {
    display: flex;
    justify-content: space-around;
    padding: 12px 24px;
}

.d-flex {
    width: 100% !important;
}

text {
    margin: 8px 0;
}

.titulo-mapa {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    color: #FE5000;
    text-align: center;
}

.text-cobertura {
    max-width: 60%;
}

.login-box {
    order: 5;
}

.bg-modal {
    display: none;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 4;
    animation: animaModal 0.3s forwards;
}

#navbar-mobile {
    display: none;
}

.navbar-nav {
    flex-direction: row !important;
    gap: 20px;
}

.view-modal {
    display: block !important;
}

#close-modal {
    cursor: pointer;
    margin-bottom: 36px;
}

.fixed-body {
    overflow: hidden;
}

@keyframes animaModal {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

#banner-index {
    background-image: url('./img/banner-index.png');
    width: 100%;
    height: 70vh;
    margin-top: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}